
/* ------------------ Reset --------------------- */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

a { color:inherit; text-decoration:none }



/* ------------------ Redefined tags --------------------- */

html { height:100% }
body { background:#eaeaea; font-family: Arial, Helvetica, sans-serif; font-size: 14px; color: black; height:100%; padding:0; margin:0 }



/* ------------------ LAYOUT --------------------- */
#wrapper { margin:0 auto; min-height:100%; position:relative }
#header { background:#ffffff; padding:10px 15px 15px 25px; position:relative; min-width:900px; overflow:hidden }
#content{ background:url(../theme/images/interface/back-content-cep.png) repeat-x left top #eaeaea }
#footer { background:url(../theme/images/interface/back-footer-cep.png) repeat-x left top #eaeaea; position:absolute; bottom:0px; height:40px; width:100% }
.separator { height:60px }



/* ------------------ HEADER --------------------- */
.logo { float:left; position:relative; z-index:1 }
ul.nav { margin:8px 0 0 -40px; padding:0; text-align:center; min-width:100%; position:absolute }
ul.nav li { background:url(../theme/images/header/back-menu-cep.png) repeat-x top center; font-size:12px; line-height:16px; color:#555555; margin:0px; display:inline-block; list-style:none; border-top:1px solid #cccccc; border-bottom:1px solid #b1b1b1; text-shadow: 0px 1px 0px #ffffff }
ul.nav li:hover { color:#000000 }
ul.nav li.active { background:url(../theme/images/header/back-menu-cep.png) repeat-x center -30px ; color:#008ecf }
ul.nav li a { color:inherit; text-decoration:none; padding:3px 10px 6px 10px; display:block }
ul.nav li {  border-right:1px solid #dfdfdf; border-left:1px solid #c9c9c9 }
ul.nav li:first-child {  border-left:1px solid #f1f1f1 !important; -moz-border-radius:3px 0 0 3px; -webkit-border-radius:3px 0 0 3px; border-radius:3px 0 0 3px }
ul.nav li:last-child {  border-right:1px solid #eaeaea !important; -moz-border-radius:0 3px 3px 0; -webkit-border-radius:0 3px 3px 0; border-radius:0 3px 3px 0 }
ul.nav li.active {  border-right:none; border-left:none }

.user-menu { font-size:12px; color:#555555; float:right; margin:15px 0 0 0; position:relative; z-index:1 }
.user-menu:hover { color:#000000 }

.user-menu span.arrow {
  display: inline-block;
  margin:0 0 -3px 2px;
  height: 0px;
  width: 0px;
  border-width: 7px 4px 5px 4px;
  border-style: solid;
  border-color: #555555 transparent  transparent transparent;
}
.user-menu:hover span.arrow {
  display: inline-block;
  margin:0 0 -3px 2px;
  height: 0px;
  width: 0px;
  border-width: 7px 4px 5px 4px;
  border-style: solid;
  border-color: #000000 transparent  transparent transparent;
}

/* ------------------ FOOTER --------------------- */
.footer-content { font-size:10px; color:#555555; padding:15px 0 0 10px }
.footer-content a { color:#0f98f8 }

/* ------------------ Gral Classes --------------------- */
.left { float:left }
.right { float:right }
.clear { clear:both; margin:0; padding:0; width:0px; height:0px }










