@charset "utf-8";
/* ------------ User Menu ------------------- */
.avatar { width:65px; height:65px; text-align:center; margin:0 0 2px 0; padding:0 5px 0 0; border:none; display: table; position:relative }
.avatar span { display:block; position:absolute; margin:0px auto; width:65px; height:65px; z-index:1; box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.2)inset; -moz-box-shadow:0px 0px 2px 1px rgba(0, 0, 0, 0.2)inset; -webkit-box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.2)inset; border-radius:3px; -moz-border-radius:3px; -webkit-border-radius:3px }
.avatar img { border-radius:3px; -moz-border-radius:3px; -webkit-border-radius:3px }

.location { background:#555555 url(../theme/images/icons/18/white/location.png) no-repeat; color:#FFFFFF; padding:2px 3px 2px 16px; border-radius:3px; -moz-border-radius:3px; -webkit-border-radius:3px }
#achannels { color:#555555 }

.mobile { background: url(../theme/images/icons/18/black/mobile.png) no-repeat left; padding-left:20px }
.message { background: url(../theme/images/icons/18/black/message.png) no-repeat left; padding-left:20px }
.twitter { background: url(../theme/images/icons/18/black/twitter.png) no-repeat left; padding-left:20px }
.phone { background: url(../theme/images/icons/18/black/phone.png) no-repeat left; padding-left:20px }

.gmobile { background: url(../theme/images/icons/18/grey/mobile.png) no-repeat left; padding-left:20px }
.gmessage { background: url(../theme/images/icons/18/grey/message.png) no-repeat left; padding-left:20px }
.gtwitter { background: url(../theme/images/icons/18/grey/twitter.png) no-repeat left; padding-left:20px }
.gphone { background: url(../theme/images/icons/18/grey/phone.png) no-repeat left; padding-left:20px }


/* ------------ table ------------------- */
.GralTable td { padding:2px 6px }
.GralTable td.add { color:#1e87c9 }
.GralTable button { vertical-align:middle }
.GralTable span { vertical-align:middle; display:inline-block }
.GralTable tr { clear:both }
.titletable { padding:4px 0 2px 2px; display:inline-block !important; margin-left:5px !important }
.exp { background: url(../theme/images/icons/misc/black/arrowRight.png) no-repeat 2px 50%; padding-left:16px }
.col { background: url(../theme/images/icons/misc/black/arrowDown.png) no-repeat 0px 50%; padding-left:16px }
/*
.lev1 { padding-left: 18px !important }
.lev2 { padding-left: 32px !important }
.lev3 { padding-left: 50px !important }
.lev1 span.col, .lev1 span.exp, .lev2 span.col, .lev2 span.exp, .lev3 span.col, .lev3 span.exp { margin-left:-16px !important }
*/

.box.nopadd { padding:0 }
.box.nopadd .left { border-right:1px solid #eeeeee}
.h50 { height:500px}
.tableheader { background:url(../theme/images/interface/backtd.png) repeat-x left 32px #ffffff; position:absolute; height:40px; z-index:1 }
.tableheader span, .tableheader button { vertical-align:middle }
.tablescroll { overflow:auto; overflow-x:hidden; height:410px; margin-top:40px }
.tablescroll .GralTable tr:nth-child(2) { background:none !important }
.tablescroll .GralTable td div { display:inline-block; width:272px; overflow:hidden;  }
.tablescroll .GralTable td div img { display:inline-block; vertical-align:middle; margin:5px 2px 0 0 }
.tablescroll .GralTable td div span { margin-top:5px; white-space:nowrap }
.tablescroll .GralTable td div p { display:inline-block; padding:0; margin:5px 0 0 0; vertical-align:middle; white-space:nowrap }
.tablescroll .GralTable td div p a { color:inherit }
.tablescroll .GralTable td button.farrow { float:right  }
.stat-r { background:#ff4800; background-image:none !important; border-top:1px solid #bf3602; display:inline-block; vertical-align:middle; margin:0 2px 0 0 !important; width:12px; height:12px; border-radius:3px; -moz-border-radius:3px; -webkit-border-radius:3px }
.stat-y { background:#fcbb00; background-image:none !important; border-top:1px solid #bc8b00; display:inline-block; vertical-align:middle; margin:0 2px 0 0 !important; width:12px; height:12px; border-radius:3px; -moz-border-radius:3px; -webkit-border-radius:3px }
.stat-g { background:#79e820; background-image:none !important; border-top:1px solid #5bae18; display:inline-block; vertical-align:middle; margin:0 2px 0 0 !important; width:12px; height:12px; border-radius:3px; -moz-border-radius:3px; -webkit-border-radius:3px }
.tablebottom { padding:15px 0 0 10px; color:#555555 }

.lev1 div img, .lev1 div span:first-child { margin-left:10px !important }
.lev2 div img, .lev2 div span:first-child { margin-left:30px !important }
.lev3 div img, .lev3 div span:first-child { margin-left:50px !important }

.box { position:relative; -webkit-box-shadow: 0px 0.05em 1px 1px rgba(0, 0, 0, 0.3); -moz-box-shadow: 0px 0.05em 1px 1px rgba(0, 0, 0, 0.3); box-shadow: 0px 0.05em 1px 1px rgba(0, 0, 0, 0.3) }
.box.addlayer { padding:0 5px; margin-top:10px; width:620px; height:30px }
.box.addlayer span { color:#1f86c8; display:inline-block; padding-top:8px }
.box label { color:#555555 }

.toptitle { width:550px }
.toptitle span { color:#000000 }
.rightbuttons { position:absolute; right:2px; top:5px }
.rightbuttons button { margin:0 }

.feditor-container { position:relative }
.feditor-container .rightbuttons{ top:-6px; right:5px }
.w30.feditor-sidebar { width:280px !important }
.w30.feditor-sidebar > input[type="text"] { width:275px !important }
.w30.feditor-sidebar > select { width:280px !important }