/*.BreadCrumb { background:#d0d0d0; border-radius: 4px; height: 22px; overflow: hidden; width:700px }
.BreadCrumb:focus { background: #333333 }
.BreadCrumb ul { margin: 0; padding:0 0 0 1px }
.BreadCrumb li { background:url(../theme/images/breadCrumbs/item.png) no-repeat left top; margin:0; padding:0 15px 0 10px; float:left; list-style:none; height:21px; margin-left:-10px; line-height:20px; text-shadow: 1px 1px #ffffff }
.BreadCrumb li:hover { background:url(../theme/images/breadCrumbs/item.png) no-repeat left -30px }
.BreadCrumb li:active { background:url(../theme/images/breadCrumbs/item.png) no-repeat left -60px; line-height:21px }
.BreadCrumb li:first-child { background:url(../theme/images/breadCrumbs/item.png) no-repeat -10px top; border-radius: 4px 0 0 4px; border-left:1px solid #ffffff; margin-left:0px; padding-left:8px }
.BreadCrumb li:first-child:hover { background:url(../theme/images/breadCrumbs/item.png) no-repeat -10px -30px }
.BreadCrumb li:first-child:active { background:url(../theme/images/breadCrumbs/item.png) no-repeat -10px -60px; border:none; padding-left:9px }
.BreadCrumb li:nth-last-child(0n+2) { background:url(../theme/images/breadCrumbs/item.png) no-repeat left top; padding:0 5px 0 10px; position:relative }
.BreadCrumb li:nth-last-child(0n+2):hover { background:url(../theme/images/breadCrumbs/item.png) no-repeat left -30px }
.BreadCrumb li:nth-last-child(0n+2):active { background:url(../theme/images/breadCrumbs/item.png) no-repeat left -60px }
.BreadCrumb li:nth-last-child(0n+2) span { background:url(../theme/images/breadCrumbs/item.png) no-repeat right top; height:21px; width:10px; position:absolute; right:-6px }
.BreadCrumb li:nth-last-child(0n+2):hover span { background:url(../theme/images/breadCrumbs/item.png) no-repeat right -30px }
.BreadCrumb li:nth-last-child(0n+2):active span { background:url(../theme/images/breadCrumbs/item.png) no-repeat right -60px }
.BreadCrumb li:last-child { background:none; color:#555555; margin-left:0px; text-shadow:none }
.BreadCrumb li:last-child:hover { color:#777777 }
*/

#wrapper { width:960px; margin:0 auto; position:relative }
#topgrad { -css3-background: linear-gradient(90deg,#f2f2f2,#ffffff); background: -moz-linear-gradient(top, #ffffff 0%, #f2f2f2 100%); background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#f2f2f2)); border-top:1px solid #b6bac0; border-bottom:1px solid #b6bac0; position:absolute; width:100%; height:30px }
#toolbar { background:none; position:relative }
#toolbar #NavMenu { position:absolute; width:100%; text-align:center }
#header .logo { float:left }

ul.menu { background:#FFF; font-size:12px; display:inline-block; margin:0; padding:0; height:31px; border-bottom:1px solid #FFF }
.menu li { list-style:none; display:inline-block; vertical-align:middle; background: url(../theme/images/interface/backbody.png) repeat-x top; height:31px; line-height:28px; padding:0 10px; margin:0 0 0 -3px; border-bottom:1px solid #b6bac0; border-right:1px solid #b6bac0 }
.menu li:hover { background:#FFFFFF }
.menu li:last-child:hover, .menu li:first-child:hover { background: url(../theme/images/interface/backbody.png) repeat-x top; color:#ff6600}  
.menu li.active { background:none; color:#ff6600; border-bottom:1px solid #FFFFFF; border-right:none }  
.menu li.before { border-radius:0px 0px 8px 0px; -moz-border-radius:0px 0px 8px 0px; -webkit-border-radius:0px 0px 8px 0px; border-right:1px solid #b6bac0 }  
.menu li.after { border-radius:0px 0px 0px 8px; -moz-border-radius:0px 0px 0px 8px; -webkit-border-radius:0px 0px 0px 8px; border-left:1px solid #b6bac0 }  
.menu li:last-child { border-right:none }  


ul.InPlattform { margin:6px 0 0 0; padding:4px 4px 8px 4px; position:absolute; top:-3px; left:0; z-index:2 }

ul.InPlattform:hover { background:#FFFFFF; -webkit-box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.2) ; -moz-box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.2); box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.2); -moz-border-radius:5px; -webkit-border-radius:5px; border-radius:5px }

.InPlattform li { background:url(../theme/images/header/InSTEDDPlatform.png) no-repeat left top; min-width:138px; height:18px; display:inline-block; list-style:none; cursor:pointer }

.InPlattform li:hover { background:url(../theme/images/header/InSTEDDPlatform.png) no-repeat left -20px }

.InPlattform li ul { display:none; margin:25px 0 0 -42px; font-size:12px  }

ul.InPlattform:hover li ul{ display:block }

.InPlattform li ul li { background:#FFFFFF; color:#555555; margin-bottom:5px; cursor:pointer; padding:2px 2px 1px 4px; display:block }
.InPlattform li ul li:hover { background:#d0d0d0; -moz-border-radius:3px; -webkit-border-radius:3px; border-radius:3px }
