$black: #000000;
$darkgray: #777777;
$lightgray: #cccccc;
//$box-gray: #ebebeb
//$orange: #ff6600
//$lighorange: #fff6e5
//$darkgreen: #769925
//$lightgreen: #efffca
//$red: #ff3000
//$box-orange: #ff9d44
//$box-ligh-orange: #ff6600
//$ligh-blue: #1f86c8