.flash {
  position: relative;
  top: -31px;
  z-index: -1;
  text-align: center;
  @include pagesize;
  height: 26px;
  & > span {
    padding: 5px 15px;
    display: inline-block;
    border-radius: 0px 0px 5px 5px;
    width: auto;
  }
}

.flash_notice > span {
  background-color: #e6faa9;
  color: $green;
}

.flash_error > span {
  background-color: #ffee9e;
  color: $orange;
}