
html {
  height: 100%;
}

body {
  background: #FFFFFF url(../images/interface/backbody.png) repeat-x top;
  height: 100%;
  margin: 0;
  padding: 0;
}

#wrapper {
  min-height: 100%;
  position: relative;
}

/* for centering */
#toolbar, #header, #container, #footer-container {
  @include pagesize;
}
#container { padding-top:15px }
#header {
  height: 80px;
  margin-top: 5px;
  margin-bottom: 20px;
  background: url(../images/footer/shadow.png);
  background-repeat: no-repeat;
  background-position: center bottom;
}

#header .BreadCrumb { margin:18px 0 0 0; width:620px; float:right }
#header .BreadCrumb li { cursor: pointer }

#toolbar {
  height: 30px;
  background:none;
  position:relative;
}

ul.RightMenu { margin:0; padding:0; position:absolute; right:0; z-index:50 }
ul.RightMenu > li { list-style:none; display:inline-block; vertical-align:top; margin:0; padding:0; float: left; }
ul.RightMenu button { font-size:12px !important }

#footer-span {
  height: 220px;
  margin-top:10px;
}

#footer {
  position: absolute;
  bottom: 0px;
  border-top: 1px solid #cccccc;
  width: 100%;
  @include gray-degrade;
  color: $darkgray;
  font-size: 12px;
  a {
    color: $darkgray;
    text-decoration: none;
    &:hover {
      color: $darkgray_hover;
    }
  }
}

#footer-container {
  background: url(../images/footer/shadow.png);
  background-repeat:no-repeat;
  background-position:center 5px;
  height: 148px;
  padding-top: 26px;
  padding-bottom: 13px;
  .right {
    text-align:right
  }
  & > div:nth-child(1) {
    border-bottom: 1px solid #d0d0d0;
  }
  & > div:nth-child(2) {
    border-top: 1px solid #f0f0f0;
    padding-top: 15px;
    text-shadow: 0px 1px 0px #ffffff;
    & > div {
      & > *:not(:first-child) { padding-left: 11px; }
      & > span { padding: 3px 0px; }
    }
  }
  .platform {
    background: url(../images/footer/InSTEDDPlatform.png);
    background-repeat: no-repeat;
    width: 290px;
    height: 89px;
    padding-top: 28px;
    a { color: $orange; }
    a:hover { color: $orange_hover; }
  }
  .more {
    margin: 3px 0px;
    display: block;
  }
  .lang-menu {
    position:relative; bottom:0px; z-index:2;
    span { z-index:3; position:relative }
    ul {
      margin:0; padding:5px 0 0 0; z-index:0; display:none; width:100%; height:75px; position:absolute;
      li {
        margin:1px 4px 1px 4px; padding:1px 4px 1px 4px; list-style:none;
        &:hover { background:#dedede; color:#000000; -moz-border-radius:3px; -webkit-border-radius:3px; border-radius:3px; }
        a {
          display: block;
        }
      }
     }
    &:hover  ul {
      background:#FFFFFF; -webkit-box-shadow: 0px 1px 2px 2px rgba(0, 0, 0, 0.2); -moz-box-shadow: 0px 1px 2px 2px rgba(0, 0, 0, 0.2);
      box-shadow: 0px 1px 2px 2px rgba(0, 0, 0, 0.2); -moz-border-radius:5px; -webkit-border-radius:5px; border-radius:5px; position:absolute; bottom:-2px;
      right:-2px; display:block; z-index:0
    }
  }
}

.es #footer-container {
  padding-bottom: 25px;
  .platform {
    width: 300px;
    height: 100px;
  }
}

body.smallfooter #footer-span {
  height: 65px;
  margin-top:10px;
}

body.smallfooter #footer-container {
  height: 52px;
  padding:0px;
  & > div:nth-child(1) {
    display: none;
  }
  & > div:nth-child(2) {
    padding-top: 20px;
  }
}


@import "footer";
@import "pulldown";
@import "navmenu";
@import "usermenu";
@import "flash_alerts";
