/*$ux_text_image_width: 25px;*/

/*html {behavior: url('../theme/stylesheets/css3.htc');}*/
/* ----- Estructura contenido ----- */
body { background:#ffffff; font-family:Arial, Helvetica, sans-serif; font-size:14px; color: $black; }
textarea, input, select, button, label { font-family:Arial, Helvetica, sans-serif; font-size:14px; }
p { padding:0; margin:15px 0; }

h1, h2 { font-size:18px; color: $darkgray; margin:0 0 15px 0; font-weight: normal; }
h1 + p, h2 + p { color: $darkgray; }
h1 + p { margin: -15px 0 15px 0; }
h2 + p {
  margin: -16px 0 8px 0;
  font-size: 12px;
}

h1 span.err-message, h2 span.err-message { color: $orange }
hr { border:0; height:1px; color:#dddddd; background:#dddddd; position:relative; margin: 3px 0px; }

/*table { border-spacing: 0px; }*/

::-webkit-input-placeholder { color:#999999 !important }

:-moz-placeholder { color:#999999 !important }

/* ----- CLASSES ----- */
a { color: inherit; text-decoration:none }
a:hover { text-decoration:none; }
button { overflow:visible }
img { border: 0px; }

textarea:focus, input:focus, button:focus, a:focus { outline: none; }
button::-moz-focus-inner {
  border: 0;
}

p a { 
  color:$orange; 
  &:hover { color: $orange_hover; }
}

.smalltext { font-size:12px }


/* ----- Input text ----- */
@mixin texboxes_border {
  border:1px solid #dddddd; 
  padding:0 2px; 
  color: $black; 
  -moz-border-radius:5px; -webkit-border-radius:5px; border-radius:5px; -webkit-box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, 0.3) inset; -moz-box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, 0.3) inset; box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, 0.3) inset;
  margin: 1px;
  &:focus { border:2px solid #dddddd; margin: 0px; }
  &.readonly, &.readonly:focus, &[readonly], &[readonly]:focus { background-color: $disabled_bgtext; color: $disabled_text; border-width:1px; margin: 1px; }
  &.error, .field_with_errors & { border:2px solid #ff6600; margin: 0px; }
}

input.ux-text { height:22px; width:inherit; @include texboxes_border }

input[type=text], input[type=password], input[type=email], textarea {
  @extend .ux-text;
}


/* ----- Dropdown/Select ----- */

select { border:1px solid #dddddd; }

/*

select:disabled { background-color:transparent; }

.ux-dropdown { 
  position: relative; 
  height:25px; 

  .selectPrefix { 
    background: url(../images/combobox/white.png) no-repeat left top;
    height:28px; 
    width: 7px; 
    display: inline-block; 
    position: absolute; 
  }
  .select { 
    background: url(../images/combobox/white.png) no-repeat right top;
    left: 7px; 
    color:#000000; 
    width:inherit; 
    height:28px; 
    overflow:hidden; 
    position:absolute; 
    text-shadow: 0px 1px 0px #ffffff; 
    line-height: 25px; 
  }
  
  &:hover .selectPrefix{ background-position: left -40px; }
  &:hover .select { background-position: right -40px; }
  &:active .selectPrefix{ background-position: left -80px; }
  &:active .select{ background-position: right -80px; line-height: 26px; }
  .selectPrefix.disabled {
    background-position: left -120px;
    line-height: 25px;
  }
  .select.disabled {
    background-position: right -120px;
    line-height: 25px;  
  }

  select.styled { 
    width:inherit; 
    height:28px; 
    line-height:28px; 
    cursor:pointer;
    margin: 2px;  
  } /+ for chrome: font-size: 26px; +/
} */

/* ----- Text Area ----- */
textarea.ux-text { width: inherit; @include texboxes_border; padding:2px 2px; resize:none; }

.TaskBox { border: 1px solid #dddddd; background:$disabled_bgtext; font-size:10px; font-weight: bold; letter-spacing:-0.05em; padding:0px 0px 1px 0px; margin:0px 1px 0 1px; text-align:center; -moz-border-radius:3px; -webkit-border-radius:3px; border-radius:3px; white-space:nowrap }
.box.grey .TaskBox { background: white; border-color: white; }
.TaskBox div { display: inline-block; vertical-align:middle; margin-left:-2px; }
.TaskBox div.L { color:$darkgray; width:4%; text-align:left; padding-left:0px; }
.TaskBox div.R { color:$orange; width:4%; text-align:right; padding-right:0px; }
.TaskBox div.M { background:$orange; width:88%; margin:0 2px }
.TaskBox div span { background:$darkgray; height:4px; display:block; width:80% }

.TaskBox.readonly div.R { color:#d0d0d0; }
.TaskBox.readonly div.M { background:#d0d0d0; }
.TaskBox.readonly div.L { color:$lightgray; }
.TaskBox.readonly div span { background:$lightgray; }

/* ----- Numeric Stepper ----- */
.ux-nstep { 
  position:relative; 
  display:inline;
  .kup { 
    @include button-states(10px, center);
    background-image:url(../images/numericStepper/up.png);
    background-color:transparent;
    width:15px; height:12px; 
    cursor:pointer; border:none; 
    position:absolute; right:3px; top:-1px;
  }
  .kdown { 
    @include button-states(10px, center);
    background-image:url(../images/numericStepper/down.png);
    background-color:transparent;
    width:15px; height:12px; 
    cursor:pointer; border:none; 
    position:absolute; right:3px; bottom:-4px 
  }
}
  @-moz-document url-prefix() { .ux-nstep .kup { right:6px } }
  @-moz-document url-prefix() { .ux-nstep .kdown { right:6px } }

/* ----- Checkbox ----- */
span.checkbox { 
  background:url(../images/checkBox/white.png) no-repeat; 
  width:19px; height:20px; 
  display:inline-block; 
  vertical-align:middle;
}


/* ----- Radio ----- */
span.radio { 
  background:url(../images/radioButton/white.png) no-repeat; 
  width:16px; height:20px; 
  display:inline-block;	
  vertical-align:middle;
}


/* ----- Search ----- */
.ux-search { 
  background: url(../images/search/magnifyingGlass.png) no-repeat 99% 2px #ffffff;
  padding-right:25px;
  /*padding-right: $ux_text_image_width !important;*/
  &:hover { background-position: 99% -18px; }
  &:focus { background-position: 99% -38px; }
  &.readonly { background-position: 99% -58px; }
}

/* ----- Calendar ----- */
.ux-datepicker {
  background:url(../images/datePicker/calendar.png) no-repeat 99% 2px; 
  padding-right:25px;
  /*padding-right: $ux_text_image_width !important;*/
  width:inherit; 
  &:hover { background-position: 99% -18px; }
  &:focus { background-position: 99% -38px; }
  &.readonly { background-position: 99% -58px; }
}

/* ----- Crud List ----- */
.ux-clist { 
  border-color:white !important;
  -webkit-box-shadow: none !important; 
  -moz-box-shadow: none !important; 
  box-shadow: none !important;
  &:focus { border:2px solid #dddddd !important;
  -webkit-box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, 0.3) inset;
  -moz-box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, 0.3) inset; 
  box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, 0.3) inset; }
}
.ux-clist:disabled { background-color:white !important; color:#999999; border:1px solid transparent !important; -webkit-box-shadow: none; -moz-box-shadow: none; box-shadow: none; }

.clist-add { @extend .padd; vertical-align:middle !important }
.clist-remove { @extend .premove; vertical-align:middle !important }
.clist-add:disabled { background-position: 0 -90px !important }
.clist-remove:disabled { background-position: 0 -90px !important }

ul.clist { margin:4px 0; padding:0 }
ul.clist li { border-bottom:1px solid #DDDDDD; margin-bottom:2px; list-type:none; display:block; padding:1px 0 1px 0; margin:0; width:inherit }
ul.clist li button { margin:0px 0px 0px 2px !important }
ul.clist li:last-child { border-bottom:none }


/* ----- BreadCrumb ----- */
.BreadCrumb { background:#d0d0d0; border-radius: 4px; height: 22px; overflow: hidden }
.BreadCrumb:focus { background: #333333 }
.BreadCrumb ul { margin: 0; padding:0 0 0 1px }
.BreadCrumb li { background:url(../images/breadCrumbs/item.png) no-repeat left top; margin:0; padding:0 15px 0 10px; float:left; list-style:none; height:21px; margin-left:-10px; line-height:20px; text-shadow: 1px 1px #ffffff }
.BreadCrumb li:hover, .BreadCrumb li:focus { background:url(../images/breadCrumbs/item.png) no-repeat left -30px }
.BreadCrumb li:active { background:url(../images/breadCrumbs/item.png) no-repeat left -60px; line-height:22px }
.BreadCrumb li:first-child { background:url(../images/breadCrumbs/item.png) no-repeat -10px top !important; border-radius: 4px 0 0 4px; border-left:1px solid #ffffff; margin-left:0px; padding-left:8px }
.BreadCrumb li:first-child:hover, .BreadCrumb li:first-child:focus { background:url(../images/breadCrumbs/item.png) no-repeat -10px -30px !important; }
.BreadCrumb li:first-child:active { background:url(../images/breadCrumbs/item.png) no-repeat -10px -60px !important; border-left: 1px solid $disabled_bgtext; }
.BreadCrumb li.ie_nth-last-child_0n_2, .BreadCrumb li:nth-last-child(0n+2) { 
  background:url(../images/breadCrumbs/item.png) no-repeat left top; 
  padding:0 5px 0 10px; 
  position:relative; 
  &:hover, &:focus { background:url(../images/breadCrumbs/item.png) no-repeat left -30px }
  &:active { background:url(../images/breadCrumbs/item.png) no-repeat left -60px }
  & span { background:url(../images/breadCrumbs/item.png) no-repeat right top; height:21px; width:10px; position:absolute; right:-6px }
  &:hover span, &:focus span { background:url(../images/breadCrumbs/item.png) no-repeat right -30px }
  &:active span { background:url(../images/breadCrumbs/item.png) no-repeat right -60px }
}

.BreadCrumb li:last-child { background:none !important; color:$darkgray; margin-left:0px; text-shadow:none }
.BreadCrumb li:last-child:first-child {  border-left:1px solid #d0d0d0; }
.BreadCrumb li:last-child:hover, .BreadCrumb li:last-child:focus { background:none !important; color:$darkgray; }



/* ------------ State Display ------------------- */
.StateDisplay { text-align:center }
.StateDisplay .values { display:inline-block; width:50%; vertical-align:middle }
.StateDisplay button { display:inline-block; vertical-align:middle; width:45%; white-space:nowrap }
.values { font-size:11px; letter-spacing:-0.02em; line-height:9px; padding: 2px 0; text-align: center; white-space:nowrap }
.values div span { display:block }
.values div.U { text-align:left }
.values div.U span.big { font-size:22px; line-height:18px  }
.values div.L { color:#777777; text-align:left; padding-bottom:3px; margin-left:2px; float:left }
.values div.R { color:#f86808; text-align:right; padding-bottom:3px; float:right }
.values div.L.empty span, .values div.R.empty span { color:#f86808 }
.values div.M { background: #f86808; margin-left:2px }
.values div.M span { background:#777777; height:4px; display:block; width:40% }
.values div.M.empty span { width:0% }
.values span.alert { background:url(../images/icons/18/orange/alert.png ) no-repeat center 3px; width:18px; height:18px }
.values span.tilde { background:url(../images/icons/misc/grey/tilde.png ) no-repeat center 9px; width:11px; height:18px }

.smvalues { background:#d0d0d0; font-size:11px; letter-spacing:-0.02em; line-height:9px; padding:3px; text-align:center; vertical-align:baseline; white-space:nowrap; width:50px; border-radius:3px; -moz-border-radius:3px; -webkit-border-radius:3px; border:1px solid #DDDDDD }
.smvalues div.L { color:#777777; text-align:left; padding-bottom:3px; float:left }
.smvalues div.R { color:#f86808; text-align:right; padding-bottom:3px; float:right }
.smvalues div.L span, .values div.R span { display:block }
.smvalues div.M { background:#f86808; display:block !important}
.smvalues div.M span { background: #777777; height:4px; display:block; width:40% }


/* ------------ Steps Display ------------------- */
.steps-line { background:#FFFFFF; height:6px; width:90%; margin:40px auto 30px auto; -webkit-box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, 0.3) inset; -moz-box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, 0.3) inset; box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, 0.3) inset;	position:relative }

/*.steps-line.dotted { background:transparent; height:6px; width:90%; margin:40px auto 30px auto; -webkit-box-shadow:none; -moz-box-shadow:none; box-shadow:none;	position:relative } */

.steps-container { position:absolute; top:-6px; width:100%; white-space:nowrap }

.circle { background:#FFFFFF; z-index: 3; display:inline-block; vertical-align:middle; width:12px; height:12px; margin:-1px 0 0 -3px; position:relative; -moz-border-radius:20px; -webkit-border-radius:20px; border-radius:20px;	-webkit-box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, 0.3) inset; -moz-box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, 0.3) inset;	box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, 0.3) inset; }
.circle.first { float:left; margin-top:3px !important }
.circle.last { right:0px; top:0px; margin-top:3px !important; position:absolute }
.steps-container.dotted .circle.first { z-index:10 }
.steps-container.dotted .circle.last { z-index:10 }
	
.inner { background:#ffffff; display:inline-block; width:6px; height:6px; -moz-border-radius:15px; -webkit-border-radius:15px; border-radius:15px; position:absolute; top:3px; left:3px; text-align:center; z-index:4;  }	

.line-fill { display:inline-block; vertical-align:middle; position:relative; border-top:2px solid #ffffff; margin:0 -5px 0 -7px; z-index:2; }
.line-fill.dotted { background:#D0D0D0; display:inline-block; vertical-align:middle; position:relative; border-top:6px dotted #e4e4e4; margin:0 -5px 0 -7px; z-index:1 }

.step-name { font-size:12px; text-align:center; width:120px; position:absolute; top:-25px; left:-60px }

.circle.green .inner { background:#739524 }	
.line-fill.green { border-top:2px solid #739524 !important; z-index: 5; }
.circle.green .step-name  { color:#739524 }	

.steps-container.s3 .line-fill { width:49.5% }
.steps-container.s4 .line-fill { width:33% }
.steps-container.s5 .line-fill { width:24.75% }
.steps-container.s6 .line-fill { width:19.8% }

/* --------- Form Editor ----------- */
.feditor { width:623px; margin-top:-5px }
.feditor-top { background:url(../images/formEditor/item.png) no-repeat left top; height:12px }
.feditor-container { background:url(../images/formEditor/item.png) no-repeat left bottom; padding:0 5px 15px 5px }
.feditor-container div { display:inline-block; vertical-align:top }
.feditor-container div button { margin-top:-8px }
.feditor-container div button.active { background-position:0 -120px !important }
.feditor-container div.feditor-content { width:515px }
.feditor-container div.feditor-content h1 { color:#000000; margin-bottom:0px }
.feditor-container div.feditor-content .hint { font-size:12px; font-style:italic; color:#555555 }

.feditor.first { width:623px; margin-top:0px }
.feditor.first .feditor-top { background-position:right top }
.feditor.last .feditor-container { background-position:right bottom }

.feditor-sidebar p { color:#555555; padding:0; margin:0 }
.feditor-sidebar p.smalltext { margin-bottom:3px }
.feditor-sidebar hr { margin:12px 0 }	



/* ----------- BUTTONS ------------- */
@mixin css3-button($border_color,$background_color,$background_color2,$color,
$hover_background_color,$hover_background_color2,
$active_border_color, $active_border_top_color, $disabled_border_color,$disabled_background_color,$disabled_color) {
  padding:5px 8px; 
  border:1px solid $border_color;
  @include content-box-shadow();
  border-radius:4px;
  -css3-background: linear-gradient(90deg,$background_color,$background_color2); 
  background: -moz-linear-gradient(top, $background_color2 0%, $background_color 100%); 
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,$background_color2), color-stop(100%,$background_color)); 
  -moz-border-radius:4px; 
  -webkit-border-radius:4px; 
  color:$color; 
  cursor:pointer;
  height: 30px;
  margin: 4px 2px;
  display:inline-block;
  position:relative;
  &:hover, &:focus  { 
    padding:5px 8px; 
    border:1px solid $border_color;
    @include content-box-shadow();
    border-radius:4px; -css3-background: linear-gradient(90deg,$hover_background_color,$hover_background_color2); 
    background: -moz-linear-gradient(top, $hover_background_color2 0%, $hover_background_color 100%); 
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,$hover_background_color), color-stop(100%,$hover_background_color2));
    -moz-border-radius:4px; 
    -webkit-border-radius:4px; 
    color:$color; 
    cursor:pointer;
  }
  &:active { 
    background:$background_color; 
    border:1px solid $active_border_color;
    border-top:1px solid $active_border_top_color;
    @include none-box-shadow();
#    padding:6px 8px 4px 8px;
    filter:progid:DXImageTransform.Microsoft.Shadow(color='#{$border_color}',direction='0',strength='0');
    color:$color;
  }
  &.disabled, &[disabled] { 
    opacity: 1;
    background:$disabled_background_color; 
    border:1px solid $disabled_border_color; 
    @include none-box-shadow();
    text-shadow:none; 
    padding:5px 8px;
	cursor:default; 
    filter:progid:DXImageTransform.Microsoft.Shadow(color='#ffffff',direction='0',strength='0'); 
    color:$disabled_color; 
  }
}

button span, a.button span { position:relative; top:0px; left:0px }
button:active span, a.button:active span { position:relative; top:1px; left:1px }
button:disabled, a.button:disabled  { cursor:default !important }
button:disabled span, a.button.disabled span { cursor:default !important; top:0px !important; left:0px !important }


/*
@mixin css3-button(
$border_color,$background_color,$background_color2,$color,
$hover_background_color,$hover_background_color2,
$active_border_color, $active_border_top_color, 
$disabled_border_color,$disabled_background_color,$disabled_color) {
*/

button.white, a.button.white {
  text-shadow: 0px 1px 0px white; 
  @include css3-button(
    #ffffff,#d2d2d2,#ffffff,#000000, 
    #f0f0f0,#c7c7c7, 
    #d0d0d0,#9c9c9c, 
    #bbbbbb,transparent,#999999);
}

button.grey, a.button.grey {
  text-shadow: 0px -1px 0px black; 
  @include css3-button(
    #313131,#3b3b3b,#767676,#ffffff, 
    #616161,#313131, 
    #3c3c3c,#1e1e1e, 
    #bbbbbb,transparent,#999999);
    /*#3c3c3c,#767676,#cccccc);*/
}

button.orange, a.button.orange {
  text-shadow: 0px -1px 0px #fe3700;
  @include css3-button(
    #fe3700,#ff6802,#fe9639,#ffffff, 
    #fe8418,#e95f02, 
    #ff6802,#fe1600, 
    #bbbbbb,transparent,#999999);
    /*#ff6802,#fe9639,#ffddbf);*/
}

button.cancel, a.button.cancel { 
  color:#555555;
  &:hover {
    color:#555555;  
  }
}

a.button.white, a.button.grey, a.button.orange {
  padding: 7px 11px !important;
  height: 14px !important;
}


/* ---------- Icon buttons --------- */
.icon_button {
  background-color: transparent;
  background-position:left top; 
  background-repeat:no-repeat; 
  height:24px; 
  min-width:24px;
  margin: 4px 2px; 
  cursor:pointer; 
  border:none;
  display:inline-block;
  @include button-states(30px);
  &.ie_not_empty { padding:0 0 0 27px }
  &:not(:empty) { padding:0 0 0 27px }
}
a.icon_button {
  padding-top: 3px !important;
  vertical-align:middle;
}
a.icon_button.disabled, a.icon_button_large.disabled { cursor:default !important }

.icon_button_large {
  background-color: transparent;
  background-position:left top; 
  background-repeat:no-repeat; 
  height:59px; 
  width:59px;
  margin:0px 5px 0px 0px; 
  cursor:pointer; 
  border:none;
  display:inline-block;
  @include button-states(60px);
}
a.icon_button_large {
  padding-top: 3px !important;
  vertical-align:middle;
}

/* ----- Color ----- */
.caccept { @extend .icon_button; background-image:url(../images/buttons/color/accept.png); color:$green !important }
.cadd{ @extend .icon_button; background-image:url(../images/buttons/color/add.png); color:$blue !important }
.cremove { @extend .icon_button; background-image:url(../images/buttons/color/remove.png); color:$red !important }


/* ----- Fancy ----- */
.faccept { @extend .icon_button; background-image:url(../images/buttons/fancy/accept.png) }
.fadd{ @extend .icon_button; background-image:url(../images/buttons/fancy/add.png) }
.fandroid{ @extend .icon_button; background-image:url(../images/buttons/fancy/android.png) }
.fapple { @extend .icon_button; background-image:url(../images/buttons/fancy/apple.png) }
.farrange { @extend .icon_button; background-image:url(../images/buttons/fancy/arrange.png) }
.farrow { @extend .icon_button; background-image:url(../images/buttons/fancy/arrow.png) }
.fblock { @extend .icon_button; background-image:url(../images/buttons/fancy/block.png) }
.fbranch { @extend .icon_button; background-image:url(../images/buttons/fancy/branch.png) }
.fbug { @extend .icon_button; background-image:url(../images/buttons/fancy/bug.png) }
.fclaim { @extend .icon_button; background-image:url(../images/buttons/fancy/claim.png) }
.fclose { @extend .icon_button; background-image:url(../images/buttons/fancy/close.png) }
.fconfiguration { @extend .icon_button; background-image:url(../images/buttons/fancy/configuration.png) }
.fcsv { @extend .icon_button; background-image:url(../images/buttons/fancy/csv.png) }
.fdatabase { @extend .icon_button; background-image:url(../images/buttons/fancy/database.png) }
.fdelete { @extend .icon_button; background-image:url(../images/buttons/fancy/trash.png) }
.fedit { @extend .icon_button; background-image:url(../images/buttons/fancy/edit.png) }
.fexcel { @extend .icon_button; background-image:url(../images/buttons/fancy/excel.png) }
.fexport { @extend .icon_button; background-image:url(../images/buttons/fancy/export.png) }
.ffacebook { @extend .icon_button; background-image:url(../images/buttons/fancy/facebook.png) }
.ffolder { @extend .icon_button; background-image:url(../images/buttons/fancy/folder.png) }
.fhelp { @extend .icon_button; background-image:url(../images/buttons/fancy/help.png) }
.fimport { @extend .icon_button; background-image:url(../images/buttons/fancy/import.png) }
.finsert { @extend .icon_button; background-image:url(../images/buttons/fancy/insert.png) }
.fkey { @extend .icon_button; background-image:url(../images/buttons/fancy/key.png) }
.fleave { @extend .icon_button; background-image:url(../images/buttons/fancy/leave.png) }
.fleft { @extend .icon_button; background-image:url(../images/buttons/fancy/left.png) }
.flocation { @extend .icon_button; background-image:url(../images/buttons/fancy/location.png) }
.fmerge { @extend .icon_button; background-image:url(../images/buttons/fancy/merge.png) }
.fmessage { @extend .icon_button; background-image:url(../images/buttons/fancy/message.png) }
.fpause { @extend .icon_button; background-image:url(../images/buttons/fancy/pause.png) }
.fphone { @extend .icon_button; background-image:url(../images/buttons/fancy/phone.png) }
.fplay { @extend .icon_button; background-image:url(../images/buttons/fancy/play.png) }
.fpreview { @extend .icon_button; background-image:url(../images/buttons/fancy/preview.png) }
.frecord { @extend .icon_button; background-image:url(../images/buttons/fancy/record.png) }
.frecording { @extend .icon_button; background-image:url(../images/buttons/fancy/recording.png) }
.fremove { @extend .icon_button; background-image:url(../images/buttons/fancy/remove.png) }
.frequest { @extend .icon_button; background-image:url(../images/buttons/fancy/request.png) }
.fright { @extend .icon_button; background-image:url(../images/buttons/fancy/right.png) }
.frss { @extend .icon_button; background-image:url(../images/buttons/fancy/rss.png) }
.fsearch { @extend .icon_button; background-image:url(../images/buttons/fancy/search.png) }
.fsettings { @extend .icon_button; background-image:url(../images/buttons/fancy/settings.png) }
.fsnapshot { @extend .icon_button; background-image:url(../images/buttons/fancy/snapshot.png) }
.fstop { @extend .icon_button; background-image:url(../images/buttons/fancy/stop.png) }
.fstopped { @extend .icon_button; background-image:url(../images/buttons/fancy/stopped.png) }
.fsync { @extend .icon_button; background-image:url(../images/buttons/fancy/sync.png) }
.fteach { @extend .icon_button; background-image:url(../images/buttons/fancy/teach.png) }
.ftwitter { @extend .icon_button; background-image:url(../images/buttons/fancy/twitter.png) }
.fuser { @extend .icon_button; background-image:url(../images/buttons/fancy/user.png) }
.fusers { @extend .icon_button; background-image:url(../images/buttons/fancy/users.png) }
.fuTurn { @extend .icon_button; background-image:url(../images/buttons/fancy/uTurn.png) }
.fwindows { @extend .icon_button; background-image:url(../images/buttons/fancy/windows.png) }

/* ----- Plain ----- */
.padd{ @extend .icon_button; background-image:url(../images/buttons/plain/add.png) }
.pblock{ @extend .icon_button; background-image:url(../images/buttons/plain/block.png) }
.pclose{ @extend .icon_button; background-image:url(../images/buttons/plain/close.png) }
.pnext{ @extend .icon_button; background-image:url(../images/buttons/plain/next.png) }
.pprevious{ @extend .icon_button; background-image:url(../images/buttons/plain/previous.png) }
.premove{ @extend .icon_button; background-image:url(../images/buttons/plain/remove.png) }
.pstop{ @extend .icon_button; background-image:url(../images/buttons/plain/stop.png) }
.pstopped{ @extend .icon_button; background-image:url(../images/buttons/plain/stopped.png) }


/* ----- Large ----- */
.lalert { @extend .icon_button_large; background-image:url(../images/buttons/large/alert.png) }
.lalertandreport{ @extend .icon_button_large; background-image:url(../images/buttons/large/alertAndReport.png) }
.lanswer{ @extend .icon_button_large; background-image:url(../images/buttons/large/answer.png) }
.lbookmark { @extend .icon_button_large; background-image:url(../images/buttons/large/bookmark.png) }
.lcallback { @extend .icon_button_large; background-image:url(../images/buttons/large/callback.png) }
.lcloud { @extend .icon_button_large; background-image:url(../images/buttons/large/cloud.png) }
.ldate { @extend .icon_button_large; background-image:url(../images/buttons/large/date.png) }
.ldial { @extend .icon_button_large; background-image:url(../images/buttons/large/dial.png) }
.ldirections { @extend .icon_button_large; background-image:url(../images/buttons/large/directions.png) }
.lfilter { @extend .icon_button_large; background-image:url(../images/buttons/large/filter.png) }
.lforwardcall { @extend .icon_button_large; background-image:url(../images/buttons/large/forwardCall.png) }
.lgroupchat { @extend .icon_button_large; background-image:url(../images/buttons/large/groupChat.png) }
.llocation { @extend .icon_button_large; background-image:url(../images/buttons/large/location.png) }
.lmessage { @extend .icon_button_large; background-image:url(../images/buttons/large/message.png) }
.lmicrophone { @extend .icon_button_large; background-image:url(../images/buttons/large/microphone.png) }
.lmultipleoptions { @extend .icon_button_large; background-image:url(../images/buttons/large/multipleOptions.png) }
.lnumber { @extend .icon_button_large; background-image:url(../images/buttons/large/number.png) }
.lnumeral { @extend .icon_button_large; background-image:url(../images/buttons/large/numeral.png) }
.lparagraph { @extend .icon_button_large; background-image:url(../images/buttons/large/paragraph.png) }
.lphone { @extend .icon_button_large; background-image:url(../images/buttons/large/phone.png) }
.lreport { @extend .icon_button_large; background-image:url(../images/buttons/large/report.png) }
.lsingleoption { @extend .icon_button_large; background-image:url(../images/buttons/large/singleOption.png) }
.lsound { @extend .icon_button_large; background-image:url(../images/buttons/large/sound.png) }
.ltext { @extend .icon_button_large; background-image:url(../images/buttons/large/text.png) }
.lunknown { @extend .icon_button_large; background-image:url(../images/buttons/large/unknown.png) }


/* ---------- Icons --------- */

@mixin icon($size) {
  display: inline-block;
  vertical-align: middle;
  height: $size;
  width: $size;
}

.i18b-queuedMessages { background:url(../images/icons/18/black/queuedMessages.png) no-repeat center top; @include icon(18px); }
.i18b-internet { background:url(../images/icons/18/black/internet.png) no-repeat center top; @include icon(18px); }
.i18b-skip { background:url(../images/icons/18/black/skip.png) no-repeat center top; @include icon(18px); }
.i18b-alert { background:url(../images/icons/18/black/alert.png) no-repeat center top; @include icon(18px); }
.i18b-information { background:url(../images/icons/18/black/information.png) no-repeat center top; @include icon(18px); }
.i18b-report { background:url(../images/icons/18/black/report.png) no-repeat center top; @include icon(18px); }
.i18b-lock { background:url(../images/icons/18/black/lock.png) no-repeat center top; @include icon(18px); }
.i18b-mobile { background:url(../images/icons/18/black/mobile.png) no-repeat center top; @include icon(18px); }
.i18b-request { background:url(../images/icons/18/black/request.png) no-repeat center top; @include icon(18px); }
.i18b-twitter { background:url(../images/icons/18/black/twitter.png) no-repeat center top; @include icon(18px); }
.i18b-message { background:url(../images/icons/18/black/message.png) no-repeat center top; @include icon(18px); }
.i18b-alertAndReport { background:url(../images/icons/18/black/alertAndReport.png) no-repeat center top; @include icon(18px); }
.i18b-key { background:url(../images/icons/18/black/key.png) no-repeat center top; @include icon(18px); }
.i18b-test { background:url(../images/icons/18/black/test.png) no-repeat center top; @include icon(18px); }
.i18b-phone { background:url(../images/icons/18/black/phone.png) no-repeat center top; @include icon(18px); }
.i18b-error { background:url(../images/icons/18/black/error.png) no-repeat center top; @include icon(18px); }
.i18b-groupChat { background:url(../images/icons/18/black/groupChat.png) no-repeat center top; @include icon(18px); }
.i18g-queuedMessages { background:url(../images/icons/18/grey/queuedMessages.png) no-repeat center top; @include icon(18px); }
.i18g-internet { background:url(../images/icons/18/grey/internet.png) no-repeat center top; @include icon(18px); }
.i18g-skip { background:url(../images/icons/18/grey/skip.png) no-repeat center top; @include icon(18px); }
.i18g-alert { background:url(../images/icons/18/grey/alert.png) no-repeat center top; @include icon(18px); }
.i18g-information { background:url(../images/icons/18/grey/information.png) no-repeat center top; @include icon(18px); }
.i18g-report { background:url(../images/icons/18/grey/report.png) no-repeat center top; @include icon(18px); }
.i18g-lock { background:url(../images/icons/18/grey/lock.png) no-repeat center top; @include icon(18px); }
.i18g-mobile { background:url(../images/icons/18/grey/mobile.png) no-repeat center top; @include icon(18px); }
.i18g-request { background:url(../images/icons/18/grey/request.png) no-repeat center top; @include icon(18px); }
.i18g-twitter { background:url(../images/icons/18/grey/twitter.png) no-repeat center top; @include icon(18px); }
.i18g-message { background:url(../images/icons/18/grey/message.png) no-repeat center top; @include icon(18px); }
.i18g-alertAndReport { background:url(../images/icons/18/grey/alertAndReport.png) no-repeat center top; @include icon(18px); }
.i18g-key { background:url(../images/icons/18/grey/key.png) no-repeat center top; @include icon(18px); }
.i18g-test { background:url(../images/icons/18/grey/test.png) no-repeat center top; @include icon(18px); }
.i18g-phone { background:url(../images/icons/18/grey/phone.png) no-repeat center top; @include icon(18px); }
.i18g-error { background:url(../images/icons/18/grey/error.png) no-repeat center top; @include icon(18px); }
.i18g-groupChat { background:url(../images/icons/18/grey/groupChat.png) no-repeat center top; @include icon(18px); }
.i18o-alert { background:url(../images/icons/18/orange/alert.png) no-repeat center top; @include icon(18px); }
.i18o-error { background:url(../images/icons/18/orange/error.png) no-repeat center top; @include icon(18px); }
.i18w-dataBase { background:url(../images/icons/18/white/dataBase.png) no-repeat center top; @include icon(18px); }
.i18w-location { background:url(../images/icons/18/white/location.png) no-repeat center top; @include icon(18px); }
.i18y-alert { background:url(../images/icons/18/yellow/alert.png) no-repeat center top; @include icon(18px); }

.i48grad-internet { background:url(../images/icons/48/gradient/internet.png) no-repeat center top; @include icon(48px); }
.i48grad-answer { background:url(../images/icons/48/gradient/answer.png) no-repeat center top; @include icon(48px); }
.i48grad-free { background:url(../images/icons/48/gradient/free.png) no-repeat center top; @include icon(48px); }
.i48grad-time { background:url(../images/icons/48/gradient/time.png) no-repeat center top; @include icon(48px); }
.i48grad-dial { background:url(../images/icons/48/gradient/dial.png) no-repeat center top; @include icon(48px); }
.i48grad-accept { background:url(../images/icons/48/gradient/accept.png) no-repeat center top; @include icon(48px); }
.i48grad-microphone { background:url(../images/icons/48/gradient/microphone.png) no-repeat center top; @include icon(48px); }
.i48grad-sound { background:url(../images/icons/48/gradient/sound.png) no-repeat center top; @include icon(48px); }
.i48grad-information { background:url(../images/icons/48/gradient/information.png) no-repeat center top; @include icon(48px); }
.i48grad-list { background:url(../images/icons/48/gradient/list.png) no-repeat center top; @include icon(48px); }
.i48grad-channel { background:url(../images/icons/48/gradient/channel.png) no-repeat center top; @include icon(48px); }
.i48grad-directions { background:url(../images/icons/48/gradient/directions.png) no-repeat center top; @include icon(48px); }
.i48grad-lock { background:url(../images/icons/48/gradient/lock.png) no-repeat center top; @include icon(48px); }
.i48grad-mobile { background:url(../images/icons/48/gradient/mobile.png) no-repeat center top; @include icon(48px); }
.i48grad-dataBase { background:url(../images/icons/48/gradient/dataBase.png) no-repeat center top; @include icon(48px); }
.i48grad-date { background:url(../images/icons/48/gradient/date.png) no-repeat center top; @include icon(48px); }
.i48grad-plug { background:url(../images/icons/48/gradient/plug.png) no-repeat center top; @include icon(48px); }
.i48grad-import { background:url(../images/icons/48/gradient/import.png) no-repeat center top; @include icon(48px); }
.i48grad-request { background:url(../images/icons/48/gradient/request.png) no-repeat center top; @include icon(48px); }
.i48grad-twitter { background:url(../images/icons/48/gradient/twitter.png) no-repeat center top; @include icon(48px); }
.i48grad-users { background:url(../images/icons/48/gradient/users.png) no-repeat center top; @include icon(48px); }
.i48grad-message { background:url(../images/icons/48/gradient/message.png) no-repeat center top; @include icon(48px); }
.i48grad-mountain { background:url(../images/icons/48/gradient/mountain.png) no-repeat center top; @include icon(48px); }
.i48grad-wifi { background:url(../images/icons/48/gradient/wifi.png) no-repeat center top; @include icon(48px); }
.i48grad-numeral { background:url(../images/icons/48/gradient/numeral.png) no-repeat center top; @include icon(48px); }
.i48grad-pie { background:url(../images/icons/48/gradient/pie.png) no-repeat center top; @include icon(48px); }
.i48grad-googleDocs { background:url(../images/icons/48/gradient/googleDocs.png) no-repeat center top; @include icon(48px); }
.i48grad-reminder { background:url(../images/icons/48/gradient/reminder.png) no-repeat center top; @include icon(48px); }
.i48grad-key { background:url(../images/icons/48/gradient/key.png) no-repeat center top; @include icon(48px); }
.i48grad-download { background:url(../images/icons/48/gradient/download.png) no-repeat center top; @include icon(48px); }
.i48grad-bookmark { background:url(../images/icons/48/gradient/bookmark.png) no-repeat center top; @include icon(48px); }
.i48grad-phone { background:url(../images/icons/48/gradient/phone.png) no-repeat center top; @include icon(48px); }
.i48grad-cloud { background:url(../images/icons/48/gradient/cloud.png) no-repeat center top; @include icon(48px); }
.i48grad-forwardCall { background:url(../images/icons/48/gradient/forwardCall.png) no-repeat center top; @include icon(48px); }
.i48grad-error { background:url(../images/icons/48/gradient/error.png) no-repeat center top; @include icon(48px); }
.i48grad-claim { background:url(../images/icons/48/gradient/claim.png) no-repeat center top; @include icon(48px); }
.i48grad-automatic { background:url(../images/icons/48/gradient/automatic.png) no-repeat center top; @include icon(48px); }
.i48grad-callback { background:url(../images/icons/48/gradient/callback.png) no-repeat center top; @include icon(48px); }
.i48grad-openSource { background:url(../images/icons/48/gradient/openSource.png) no-repeat center top; @include icon(48px); }
.i48grad-shred { background:url(../images/icons/48/gradient/shred.png) no-repeat center top; @include icon(48px); }

.i72g-information { background:url(../images/icons/72/grey/information.png) no-repeat center top; @include icon(72px); }
.i72g-fire { background:url(../images/icons/72/grey/fire.png) no-repeat center top; @include icon(72px); }
.i72g-pie { background:url(../images/icons/72/grey/pie.png) no-repeat center top; @include icon(72px); }
.i72g-reminder { background:url(../images/icons/72/grey/reminder.png) no-repeat center top; @include icon(72px); }

.i96grad-teach { background:url(../images/icons/96/gradient/teach.png) no-repeat center top; @include icon(96px); }
.i96grad-folder { background:url(../images/icons/96/gradient/folder.png) no-repeat center top; @include icon(96px); }
.i96grad-signature { background:url(../images/icons/96/gradient/signature.png) no-repeat center top; @include icon(96px); }
.i96grad-ok { background:url(../images/icons/96/gradient/ok.png) no-repeat center top; @include icon(96px); }


/* ----- Level Selector ----- */
.lblock{ @extend .icon_button; background-image:url(../images/levelSelector/disable.png) }


.ux-text-with-image {
}

.ux-datepicker, .ux-search { 
  @extend .ux-text-with-image;
}


/* ----- Widths ----- */
@mixin width-class($size) {
  width: $size !important;
  /* need to expand here .ux-text-with-image */
  & > textarea, &.textarea, & > .field_with_errors > textarea { width: $size - 6px !important; }
  & > .ux-dropdown .select, &.ux-dropdown .select { width: $size - 7px !important; }
  & > .ux-clist, &.clist > li input.ux-text  { width: $size - 38px !important; }
  & > .ux-text, & > .field_with_errors > .ux-text { width: $size - 6px; } 
  &.ux-text { width: $size - 6px !important; } 
  hr.shadow { width: $size + 20px; }
  
  /*& > .ux-text:not(.ux-datepicker, .ux-search), &.ux-text:not(.ux-datepicker, .ux-search), & > .field_with_errors > .ux-text:not(.ux-datepicker, .ux-search) { width: $size - 6px !important; } */
  /*& > .ux-text-with-image, &.ux-text-with-image { width: $size + 2px - $ux_text_image_width !important; } */
}

.w06 { @include width-class(60px); }
.w10 { @include width-class(100px); }
.w13 { @include width-class(130px); }
.w15 { @include width-class(150px); }
.w20 { @include width-class(200px); }
.w30 { @include width-class(300px); }
.w40 { @include width-class(400px); }
.w50 { @include width-class(500px); }
.w54 { @include width-class(540px); }
.w55 { @include width-class(550px); }
.w58 { @include width-class(580px); }
.w60 { @include width-class(600px); }

/* ----- Error ----- */
label.error , label.message { 
  background:url(../images/icons/18/orange/alert.png) no-repeat; 
  color:#ff6600 !important; 
  padding-left:19px; padding-top: 1px; margin-left:2px; white-space:nowrap; display: inline !important; }

/*.pulldown { position:relative }
.pulldown span.l { background:url(../images/combobox/white.png) no-repeat left top; height:22px; padding:2px 0 2px 10px; display:block }
.pulldown:hover span.l { background:url(../images/combobox/white.png) no-repeat left -39px; height:22px; padding:2px 0 2px 10px; display:block }
.pulldown span.r { background:url(../images/combobox/white.png) no-repeat right top; height:26px; width:20px; display:block; position:absolute; right:0px; cursor:pointer }
.pulldown:hover span.r { background:url(../images/combobox/white.png) no-repeat right -39px; height:26px; width:20px; display:block; position:absolute; right:0px; cursor:pointer }
.pulldown select { margin-top:-26px; position:absolute; z-index:5; cursor:pointer; opacity: 0 }*/


::-webkit-input-placeholder { font-style:italic; color:#999999 }
:-moz-placeholder { font-style:italic; color:#999999 }


/* ------------ Super TAG ------------------ */
.superblyTagfieldDiv { @include texboxes_border; min-height:22px; margin-right: 0px; }

.superblyTagfieldClearer{ clear: both }
	
.superblyTagfieldDiv ul{ margin: 0; padding: 0 }
	
.superblyTagfield{
	/* if no javascript */
	outline: none;
	width: 100%;
	height: 28px;
	border: solid 1px;
    background-color: #FFFFFF;
}
   
.superblyTagInput{
	border: none !important;
	outline: none !important;
	padding: 0px !important;
	margin: 0px !important;
	height:18px !important;
	@include all-box-shadow(none !important);
}

.superblyTagInputItem{
	padding: 0px;
	margin: 0px;
}
	
.superblyTagItems > li{
	list-style: none;
	float: left;
	padding: 1px 2px 2px 4px;
	margin: 2px 1px 0px 1px;
	position: relative;	
	border-radius: 2px; -moz-border-radius: 2px; -webkit-border-radius: 2px;
}

.superblyTagItems .superblyTagItem{
    background-color: $disabled_bgtext;
}

.superblyTagItems .superblyTagItem a{
    color: #555555;
    cursor: pointer;
    font-style:normal;
	font-weight:bold;
	margin-right:2px;
}
.remove { background-image: url(../images/tags/cross.png); height:10px; width:11px; padding:0 1px; margin-left:2px; display:inline-block; @include button-states(15px); }

.superblySuggestItems{
    min-width:100px;
 	position: absolute;
	left: 0;
	top: 30px;
	z-index: 100;
	background:#FFFFFF;
	padding:2px;
	-moz-border-radius:4px; -webkit-border-radius:4px; border-radius:4px;
	@include floating-box-shadow();
}   
   
.superblySuggestItems .superblySuggestItem{
    padding:3px 5px;
	list-style: none;
	float: none;
    color: #000000;
	margin:2px;
	-moz-border-radius:3px; -webkit-border-radius:3px; border-radius:3px
}
   
.superblySuggestItems .superblySuggestItem:hover {
   	cursor: pointer; background:#cccccc;
}
   
.superblySuggestItems .selected{
	background-color: #cccccc;
}

.superblySuggestItems:empty {
  @include none-box-shadow();
}


/* ------------ Gral BOX ------------------- */
.drop_shadow { border-top:1px solid transparent; @include content-box-shadow(); border-radius:5px; -moz-border-radius:5px; -webkit-border-radius:5px; }
.box { @extend .drop_shadow; background:#FFFFFF; padding:10px; }
.sbox { padding:2px; border-radius:3px; -moz-border-radius:3px; -webkit-border-radius:3px }
.box.plain { padding:6px; margin:4px 0; border-radius:3px; -moz-border-radius:3px; -webkit-border-radius:3px; @include none-box-shadow(); }
.box.plain.white{
  border: 1px solid #D0D0D0;
}

.box.grey, .sbox.grey { background:#d0d0d0; color:$darkgray }

/*.box { margin-bottom: 7px !important; }*/
.box.tab { position:relative; z-index:10 }

hr.shadow { background: #e5e6ec; background: -moz-linear-gradient(top, #e5e6ec 0%, #ffffff 100%); background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #e5e6ec), color-stop(100%, #ffffff));
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e5e6ec', endColorstr='#ffffff',GradientType=0 ); height:15px; margin:3px 0 3px -10px; z-index:0; }

.error_description {
  background: url(../images/icons/24/orange/alert.png) no-repeat 8px 8px;
  color: $orange;
  h2 { 
    color: $orange; 
    font-size: 18px; 
    margin-bottom: 2px;
  }
  > * { margin-left: 35px; }
  ul { 
    font-size: 12px;
    line-height: 20px;
    padding: 0px;
    margin-top: 2px;
    margin-bottom: 2px;
    list-style-image:url(../images/icons/misc/orange/arrowRight.png);
    list-style-position:inside;
  }
}


/* ---------------------- Tabs --------------------------*/
ul.tabs.top { margin:0 0 0 10px; padding:0 }
ul.tabs.top li { color:#555555; display:inline-block; list-type:none; padding:2px 1px 0 1px; margin:0 2px 0 0; border-radius:4px 4px 0 0; -moz-border-radius:4px 4px 0 0; -webkit-border-radius:4px 4px 0 0; border-top:1px solid transparent; }
ul.tabs.top li.active { color:#000000; border-top:1px solid transparent; padding:2px 0 0 0; @include content-box-shadow(); }
ul.tabs.top li.active:hover, ul.tabs.top li.active:focus { background:#ffffff }
ul.tabs.top li:hover, ul.tabs.top li:focus { -css3-background: linear-gradient(90deg,#f3f3f3,#ffffff); background: -moz-linear-gradient(top, #f3f3f3 0%, #ffffff 100%); background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f3f3f3), color-stop(100%,#ffffff)); @include content-box-shadow(); border-top:1px solid transparent; }
ul.tabs.top li:active { background:#f3f3f3; color:#000000 }

ul.tabs.top li a { display:block; padding:9px 10px 6px 10px; position:relative; margin-bottom:-2px; z-index:20 }
ul.tabs.top li.active a { background:#ffffff; padding:8px 11px 6px 11px }

ul.tabs.bottom  { margin:0 0 0 10px; padding:0; position:relative }
ul.tabs.bottom li { color:#555555; display:inline-block; list-type:none; padding:0 1px 2px 1px; margin:0 2px 0 0; border-radius:0 0 4px 4px; -moz-border-radius:0 0 4px 4px; -webkit-border-radius:0 0 4px 4px }
ul.tabs.bottom li.active { color:#000000; padding:0 0 2px 0; @include content-box-shadow(); }
ul.tabs.bottom li.active:hover, ul.tabs.bottom li.active:focus { background:#ffffff }
ul.tabs.bottom li:hover, ul.tabs.bottom li:focus { -css3-background: linear-gradient(90deg,#f3f3f3,#ffffff); background: -moz-linear-gradient(top, #f3f3f3 0%, #ffffff 100%); background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f3f3f3), color-stop(100%,#ffffff)); @include content-box-shadow(); }
ul.tabs.bottom li:active { background:#f3f3f3; color:#000000 }

ul.tabs.bottom li a { display:block; padding:7px 10px 8px 10px; border-radius:0 0 4px 4px; -moz-border-radius:0 0 4px 4px; -webkit-border-radius:0 0 4px 4px; position:relative; margin-top:-2px; z-index:20 }
ul.tabs.bottom li.active a { background:#ffffff; padding:6px 11px 7px 11px }

div.tabsline { padding:20px 0 20px 0; border-top:1px solid #e6e6e6; background:#ffffff; position:relative; z-index:10 }


/* ---------------------- Tables --------------------------*/

/* -------- General ---------*/
.tablewrapp { padding:2px 0; border-radius:6px; -moz-border-radius:6px; -webkit-border-radius:6px; @include content-box-shadow(); min-height:300px; position:relative }

.titletable { color:#555555; margin:5px 0 5px 10px; display:block }

.GralTable { width:100%; -moz-border-radius:6px 6px 6px 6px; -webkit-border-radius:6px 6px 6px 6px;	border-radius:6px 6px 6px 6px; border-collapse:collapse }

.GralTable th {	background: #e5e6ec; background: -moz-linear-gradient(top, #ffffff 0%, #d0d0d0 100%); background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#d0d0d0)); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#d0d0d0',GradientType=0 ); text-shadow: 0px 1px 0px #ffffff; color:#555555; font-weight:normal; text-align:left;	padding:6px; border-bottom:1px solid #ffffff; border-right:1px solid #ffffff }

.GralTable th:last-child { border-right:none }

.GralTable tr:nth-child(2) {
  background-image: url(../images/interface/backtd.png);
  background-repeat: repeat-x;
}
.GralTable.empty tr:hover { background-color:#ffffff !important;
  background-image: url(../images/interface/backtd.png) !important;
  background-repeat: repeat-x;
}
.GralTable tr:hover {
  background-image: none;
}
.GralTable.w-pagination { margin-bottom:40px !important }

.GralTable td { letter-spacing:-0.005em; padding:2px 6px; vertical-align:middle; border-bottom:1px solid #eeeeee }
.GralTable tr:last-child td { border-bottom:none }
.GralTable.w-pagination tr:last-child td { border-bottom:1px solid #eeeeee }

.GralTable tr th.sort { 
  $border_color:#ffffff;$background_color:#d2d2d2;$background_color2:#ffffff;$color:#000000;
  $hover_background_color:#f0f0f0;$hover_background_color2:#c7c7c7;
  $active_border_color:#d0d0d0;$active_border_top_color:#9c9c9c;
  $disabled_border_color:#bbbbbb;$disabled_background_color:transparent;$disabled_color:#999999;
    
  cursor:pointer;

  // copy from css3 button mixin
  &:hover, &:focus  { 
    @include content-box-shadow();
    background: -moz-linear-gradient(top, $hover_background_color2 0%, $hover_background_color 100%); 
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,$hover_background_color), color-stop(100%,$hover_background_color2));
    cursor:pointer;
  }
  &:active { 
    background:$background_color;
    @include none-box-shadow();
  }  
}

.GralTable tr th:first-child { border-radius:4px 0 0 0; -moz-border-radius:4px 0 0 0; -webkit-border-radius:4px 0 0 0 }
.GralTable tr th:last-child { border-radius:0 4px 0 0; -moz-border-radius:0 4px 0 0; -webkit-border-radius:0 4px 0 0 }
.GralTable th.up, .GralTable th.down { background:#d0d0d0 !important }
.GralTable th.up span { margin:0 2px 0 0; display:block; height:0px; width:0px; border-width:5px 4px 7px 4px; border-style:solid; border-color: transparent transparent #555555 transparent; float:right }
.GralTable th.down span { margin:4px 2px 0 0; display:block; height:0px; width:0px; border-width:7px 4px 5px 4px; border-style:solid; border-color: #555555 transparent transparent transparent; float:right }

.GralTable tr.err-message { color:#ff7a21 }
.GralTable span.err-message { background:url(../images/icons/18/orange/alert.png ) no-repeat; display:inline-block; vertical-align:middle; width:18px; height:18px; margin-right:2px }

/* -------- Clean ---------*/
.CleanTable th { background:#ffffff}

/* -------- No data -------*/
td.EmptyData { 
  text-align: center !important; 
  background: url(../images/icons/72/grey/information.png) no-repeat center 40px;
  font-style: italic;
  color: $lightgray;
  height: 200px !important;
  padding-top: 65px !important;
}

td.EmptyDataPie { 
  @extend .EmptyData;
  background: url(../images/icons/72/grey/pie.png) no-repeat center 40px;
}

/* -------- Table with Buttons ---------*/
.ButtonTable tr:hover { background:#eaeaea }
.ButtonTable td { height:32px }
.ButtonTable td button, { padding:0; margin:-3px 0 0 1px !important; visibility:hidden; vertical-align:middle }
.ButtonTable td a.button { visibility: hidden; margin: 0px; padding: 0px !important;}
.ButtonTable tr:hover td button, .ButtonTable tr:hover td a.button { visibility:visible }
.ButtonTable tr td:last-child { width:160px; text-align:right; white-space:nowrap }

/* -------- Availability. Table with colors and rounded td corners ---------*/
.Availability { width:590px !important; margin:0 auto }
.Availability td { text-align:center; padding:2px; border-collapse:separate; border-radius:3px; -moz-border-radius:3px; -webkit-border-radius:3px }
.Availability tr td:first-child { width:18px }
.Availability td.b { background:#555555; color:#ffffff }
.Availability td.gn { background:#bde561; color:#769925 }
.Availability tr:first-child td.gn { background:#769925; color:#ffffff }
.Availability tr td.gn:first-child { background:#769925; color:#ffffff }
.Availability td.gy { background:#cccccc; color:#555555 }


/* -------- Two column table  ---------*/
.TwoColumn tr td:nth-child(1) { }
.TwoColumn tr td:nth-child(2), .TwoColumn tr th:nth-child(2) { width:100px; text-align:right }


/* --------- PAGINATION ----------- */
.pagination-container { text-align:center; width:100%; bottom:0px; position:absolute }
.pagination { background: #ffffff; background: -moz-linear-gradient(top, #eaeaea 0%, #ffffff 100%); background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#eaeaea), color-stop(100%,#ffffff)); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eaeaea', endColorstr='#ffffff',GradientType=0 ); @include all-box-shadow(0px 1px 1px 0px rgba(0, 0, 0, 0.2) inset); -moz-border-radius:22px; -webkit-border-radius:22px; border-radius:22px; font-size:13px; color:#000000; padding:2px 0; margin:7px auto; display:table  }
.pagination a { color:#777777; text-decoration:none }
.pagination span { margin:0 3px }

.pagination span.button { border:1px solid #ffffff; margin:0 4px 1px 4px; display:inline-block; vertical-align:middle; -moz-border-radius:22px; -webkit-border-radius:22px; border-radius:22px; width:22px; height:22px;-css3-background: radial-gradient(50% 12%, circle closest-corner, #ffffff, #d0d0d0 15%); background: -moz-radial-gradient(50% 10% , circle , white 1px, #D0D0D0 20px); background: -webkit-radial-gradient(50% 17%, circle, white, #dbdbdb 75%); @include content-box-shadow(); cursor:pointer; position:relative; padding:0 }

.pagination span.button:hover, .pagination span.button:focus { -css3-background: radial-gradient(50% 12%, circle closest-corner, #f9f9f9, #bfbfbf 15%); background: -moz-radial-gradient(50% 10% , circle , #f9f9f9 1px, #bfbfbf 20px); background: -webkit-radial-gradient(50% 17%, circle, #f9f9f9, #bfbfbf 75%); @include content-box-shadow(); }

.pagination span.button:active { -css3-background:#d0d0d0; background:#d0d0d0; @include none-box-shadow(); border-color:#d0d0d0 }

.pagination span.button.disabled { 
  background: #ffffff; 
  border:1px solid #bbbbbb; 
  @include none-box-shadow();
  text-shadow:none; 
  cursor:default; 
  filter:progid:DXImageTransform.Microsoft.Shadow(color='#ffffff',direction='0',strength='0'); 
  color:#999999; 
}

.pagination span.button a { 
  display:block; 
  width: 100%;
  height: 100%;
}

.pagination span.prev a span { position:absolute; top:6px; left:-2px }
.pagination span.prev:active a span { top:7px; left:-1px }
.pagination span.prev.disabled a span { top:6px; left:-2px }

.pagination span.next a span { position:absolute; top:6px; right:-2px }
.pagination span.next:active a span { top:7px; right:-3px }
.pagination span.next.disabled a span { top:6px; right:-2px }

.pagination span.prev a span { display:block; height:0px; width:0px; border-width:4px 7px 4px 5px; border-style:solid; border-color: transparent #555555 transparent transparent }
.pagination span.next a span { display:block; height:0px; width:0px; border-width:4px 5px 4px 7px; border-style:solid; border-color: transparent transparent transparent #555555 }


/* -------- ux-collapsible ---------*/

.ux-collapsible > span:first-child { 
  display:block;
}

.ux-collapsible > span:first-child > a { 
  color: $darkgray;
  &:hover, &:focus { color: $darkgray_hover; }
}

.ux-collapsible > span:first-child > .arrow {
  background:url(../images/icons/misc/grey/arrowDown.png ) no-repeat left 5px;
  padding:3px 0 3px 12px;
}
  
.ux-collapsible.collapsed > span:first-child > .arrow {  
  background:url(../images/icons/misc/grey/arrowRight.png) no-repeat left 5px;
}

.ux-collapsible.collapsed .ux-content { display: none; }
.ux-collapsible.box { margin: -11px -10px 10px -10px; }
