/* Main css file for instedd platform apps */
/* line 2, ../sass/_common.scss */
.left {
  float: left;
}

/* line 6, ../sass/_common.scss */
.right {
  float: right;
}

/* line 10, ../sass/_common.scss */
.clear {
  clear: both;
}

/* line 2, ../sass/_layout.scss */
html {
  height: 100%;
}

/* line 6, ../sass/_layout.scss */
body {
  background: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10pt;
  height: 100%;
  margin: 0;
  padding: 0;
}

/* line 15, ../sass/_layout.scss */
#wrapper {
  min-height: 100%;
  position: relative;
}

/* line 20, ../sass/_layout.scss */
#header, #container, #footer-container {
  width: 940px;
  margin-left: auto;
  margin-right: auto;
}

/* line 24, ../sass/_layout.scss */
#toolbar {
  height: 28px;
}

/* line 28, ../sass/_layout.scss */
#footer-span {
  height: 200px;
}

/* line 32, ../sass/_layout.scss */
#footer {
  position: absolute;
  bottom: 0px;
  border-top: 1px solid #cccccc;
  width: 100%;
  background: white;
  background: -moz-linear-gradient(top, white 0%, #ebebeb 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, white), color-stop(100%, #ebebeb));
  background: -webkit-linear-gradient(top, white 0%, #ebebeb 100%);
  background: -o-linear-gradient(top, white 0%, #ebebeb 100%);
  background: -ms-linear-gradient(top, white 0%, #ebebeb 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$from', endColorstr='$to',GradientType=0);
  background: linear-gradient(top, #ffffff 0%, #ebebeb 100%);
  color: #777777;
}
/* line 39, ../sass/_layout.scss */
#footer a {
  color: #777777;
  text-decoration: none;
  padding-left: 11px;
}
/* line 43, ../sass/_layout.scss */
#footer a:hover {
  color: black;
}

/* line 49, ../sass/_layout.scss */
#footer-container {
  background: url(../images/footer/shadow.png);
  background-repeat: no-repeat;
  background-position: center 5px;
  height: 176px;
}
/* line 54, ../sass/_layout.scss */
#footer-container > div:nth-child(1) {
  border-bottom: 1px solid #ddd;
}
/* line 57, ../sass/_layout.scss */
#footer-container > div:nth-child(2) {
  border-top: 1px solid white;
  padding-top: 10px;
  padding-bottom: 13px;
}

/* temp */
/* line 65, ../sass/_layout.scss */
#toolbar {
  background-color: black;
}

/* line 66, ../sass/_layout.scss */
#header {
  background-color: orange;
}

/* line 67, ../sass/_layout.scss */
#container {
  background-color: yellow;
}
